<h1 class="toph">ようこそ<strong>Bookers</strong>へ！</h1>

<p class="textitem"><strong>bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
<p class="textitem">印象を共有し交換することができます</p>

<p class="textitem"><%= link_to "start", "books" %></p>