/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*ーーーーーtopのページーーーーー*/

.toph {
  margin: 35px;
}

.textitem
{
  margin: 30px;
  margin-left: 90px;
}


/*ーーーーーindexのページーーーーー*/

.list1{
  width: 15%;
}

.list2 {
  width: 30%;
}

.list3 {
  width: 15%;
}

.tditem {
  margin-left: 50px;
}

.nb {
  margin-left: 50px;
}

/*ーーーーーshowのページーーーーー*/

.showbook {
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 40px;
}
.showlink {
  margin-left: 25px;
}

/*ーーーーーeditのページーーーーー*/

.editbox {
  margin-left: 25px;
  margin-top: 25px;
}

/*ーーーーーフラッシュメッセージーーーーー*/

.flash {
  margin-top: 30px;
  margin-left: 30px;
  color: #7fffd4;
}
